body{
    font-family: 'Montserrat Alternates', sans-serif;

}

#titulo{
    color:#7548ad;
    font-weight: bold;
}

nav{
   padding: 2px 0;
   background-color: #ff0099; 
   
}

header{    
    background-image: url('../img/paisagem.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-color: #b3e0ff;
}

header h1{
    padding-top: 15px;
}

img.center{
    display:block;
    margin: 0 auto;
}

/* Mudando a cor dos itens do menu*/
nav ul li a{
    color:#FFFFFF;
    text-decoration: none;
}

nav ul li a:hover{
    color:black;
}

nav ul li{
    display:inline;
    padding-right: 10px; 
}

footer{
    text-align:center;
    background-color: #000000;
    color: #FFFFFF;
    padding: 2px;
}   

footer a{
    color:#8686ac;
    text-decoration:none;
}
footer a:hover{
    color:#d1d1e0;
}

.heart{
    color:#ff0000;
    font-weight:bold;
}

label{
    width: 200px;   
    display: inline-block;

}

